{{!--
    partial (частичный шаблон)
    поключается через {{> weather}}

    этот partial использует section для добавления стилей в <head>
--}}
{{! стили, попадут в <head> основного layout'а}}
{{#section 'head'}}
    <style>
        .weather-widget {
            border: 1px solid blue;
            margin: 4px;
            padding: 4px;
        }
        .location {
            margin-bottom: 8px;
        }
    </style>
{{/section}}

<div class="weather-widget">
    {{! each - цикл по массиву partials.weatherContext }}
    {{#each partials.weatherContext}}
        <div class="location">
            {{! обращение к вложенному свойству {{location.name}}
            <h3>{{location.name}}</h3>
            <a href="{{forecastUrl}}">
                <img src="{{iconUrl}}" alt="{{weather}}" />
                {{weather}}, {{temp}}
            </a>
        </div>
    {{/each}}
    <small>Источник: <a href="https://www.weather.gov/documentation/services-web-api">National Weather Service</a></small>
</div>
